.container {
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -2.4rem;
}

.row>* {
    padding-inline: 2.4rem;
}

.col {
    max-width: 100%;
}

.col-12 {
    width: 100%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.666666%;
}

.col-7 {
    width: 58.333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.666666%;
}

.col-4 {
    width: 33.333333%;
}

.col-3 {
    width: 25%;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .col-mobile-12 {
        width: 100%;
    }
}

@media (max-width: 480px) {}